.sidebarOption {
    display: flex;
    align-items: center;
    color: grey;
    height: 40px;
    cursor: pointer;
    transition: 150ms color ease-in;
}

.sidebarOption:hover {
    color: white;
}

.sidebarOption_icon {
    padding-left: 10px;
    padding-right: 10px;
}

